*.bk
*.swo
*.swp
*.log
*.jou
MITXZ7100/mitx_petalinux.cache
MITXZ7100/mitx_petalinux.runs
MITXZ7100/mitx_petalinux.sim
MITXZ7100/*.backup.*
petalinux_bsp/mitx_7100_2016_2/images
petalinux_bsp/mitx_7100_2016_2/build
*.backup.*
**/*.backup.*
**autopilot**
