*.bk
*.swo
*.swp
*.log
vivado/embedded_design/embedded_design.cache
vivado/embedded_design/embedded_design.runs
vivado/embedded_design/embedded_design.sim
vivado/embedded_design/*.backup.*
petalinux_bsp/mitx_7100_2016_2/images
petalinux_bsp/mitx_7100_2016_2/build
*.backup.*
**/*.backup.*
