[submodule "modules/i2s_core"]
	path = modules/i2s_core
	url = https://github.com/mathild7/i2s_core.git
[submodule "modules/FMSYNTH"]
	path = modules/FMSYNTH
	url = https://github.com/liolliaustin/FMSYNTH.git
[submodule "modules/latcher"]
	path = modules/latcher
	url = https://github.com/esophagus-now/latcher.git
[submodule "modules/common_libs"]
	path = modules/common_libs
	url = https://github.com/mathild7/common_libs.git
