/dts-v1/;
/include/ "system-conf.dtsi"
/ {
};

&gem0 {
	phy-handle = <&phy0>;
	phy-mode = "rgmii-id";
	
	ps7_ethernet_0_mdio: mdio {
		#address-cells = <1>;
		#size-cells = <0>;
		phy0: phy@0 {
			compatible = "marvell,88e1510";
			device_type = "ethernet-phy";
			reg = <0x0>;
			marvell,reg-init = <3 16 0xff00 0x1e 3 17 0xfff0 0x00>;
		};
	};
};

&qspi {
	flash0: flash@0 {
		compatible = "micron,n25q128a13";
	};
};

/{
    usb_phy0:usb_phy@0 {
        compatible="usb-nop-xceiv";
        #phy-cells = <0>;
    };
};


&usb0 {
	dr_mode = "otg";
	usb-phy = <&usb_phy0>;
} ;

&i2c0 {
	#address-cells = <1>;
	#size-cells = <0>;
	i2cswitch@70 {
		compatible = "nxp,pca9548";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x70>;

		i2c@1 {
		    #address-cells = <1>;
		    #size-cells = <0>;
		    reg = <1>;
		    adv7511: adv7511 {
			compatible = "adi,adv7511";
			reg = <0x39>;
			adi,input-style = <0x02>;
			adi,input-id = <0x01>;
			adi,input-color-depth = <0x3>;
			adi,sync-pulse = <0x03>;
			adi,bit-justification = <0x01>;
			adi,up-conversion = <0x00>;
			adi,timing-generation-sequence = <0x00>;
			adi,vsync-polarity = <0x02>;
			adi,hsync-polarity = <0x02>;
			adi,tdms-clock-inversion;
			adi,clock-delay = <0x03>;
		    };
		};

		fmc_i2c: i2c@3 {
			#size-cells = <0>;
			#address-cells = <1>;
			reg = <3>;
		};

		i2c_adau1761: i2c@5 {
		    	#size-cells = <0>;
		        #address-cells = <1>;
		        reg = <5>;

		        adau1761: adau1761@3b {
			    compatible = "adi,adau1761";
			    reg = <0x3b>;
		        };
		};
	};
};
